body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #10262e;
    color: #eae3d8;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1f26;
    color: #eae3d8;
    padding: 15px 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color:#eae3d8;
    text-decoration: none;
}

.nav-links a:hover {
    color: #D9A441;
}

a {
    color: #7fc7d9;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #D9A441;
}

.tres-Imagens {
    display:flex;
    justify-content: space-around;
}

.tres-Imagens img {
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0 #00000042;
    margin: 30px;
}

.tres-Imagens img:hover {
    opacity: 0.7;
}

.info-Explicada {
    text-align: center;
}

.info-Explicada ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.labs-Concluidos {
    text-align: center;
}

.labs-Concluidos ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contactos ul {
    list-style: none;
}

.links ul {
    list-style: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #1c1f26;
}

footer h2 {
    text-align: center;
}

.segue-nos ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.segue-nos img {
    width: 40px;
    height: auto;
}

.footer-Marca {
    display:flex;
    justify-content: center;
    background-color: #050c0f;
}

.extra-Footer p {
    margin: 0;
}

section > div.poesia > p:nth-child(even) {
    border: 2px solid #C8102E;
    margin-bottom: 1px;
    display:inline-block;
}

table {
    border: 2px solid #C8102E;
    text-align: center;
    vertical-align: middle;
}

th {
    color: #C8102E;
}

b {
    color: #D9A441
}

li {
    margin-bottom: 15px;
}

.fotografias {
    display: flex;
    flex-wrap: wrap;
}

.fotografias img {
    width: calc(25% - 20px);
    height: 300px;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0 #00000042;
    margin: 10px;
}
