body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #10262e;
    color: #eae3d8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1f26;
    color: #eae3d8;
    padding: 15px 30px;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navlinks a {
    color:#eae3d8;
    text-decoration: none;
}

.navlinks a:hover {
    color: #D9A441;
}

.logo {
    color: #D9A441;
}

a {
    color: #7fc7d9;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.tresImagens {
    display:flex;
    width: 100px;
}

.tresImagens img {
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    margin: 10px;
}

.tresImagens img:hover {
    opacity: 0.7;
}

.abordamos {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

section > div.poesia > p:nth-child(even) {
    border: 2px solid #C8102E;
    margin-bottom: 1px;
    display:inline-block;
}

table {
    border: 2px solid #C8102E;
    text-align: center;
    vertical-align: middle;
}

th {
    color: #C8102E;
}

b {
    color: #D9A441
}

li {
    margin-bottom: 15px;
}
