* {
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

header { grid-area: header-area; }
main { grid-area: main-area; }
aside { grid-area: right-area; }
footer { grid-area: footer-area; }

body {
    min-height: 100vh;
    display: grid;
    padding:5px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 95px auto 80px;
    grid-template-areas:
            "header-area header-area"
            "main-area right-area"
            "footer-area footer-area";
}

body > * {
    border: 1px solid black;
    color: white;
}

header {
    background-color: #008B8B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

main {
    background-color: #B22222;
    padding: 10px;
}

aside {
    background-color: #006400;
    padding: 15px;
}

footer {
    background-color: #556B2F;
    color: black;
    display: flex;
    align-items: center;
    padding: 15px;
}

section {
    background-color: #CD5C5C;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

li {
    display: flex;
    justify-content: flex-start;
}




